h1 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.web {
    color: #4D5AE5;
}

.studio {
    color: #2E2F42;
}

.banner1 {
    height: 600px;
    top: 72px;
    background-color: #2E2F42;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 2%;
    color: #FFFFFF;
}

.button {
    padding: 16px 32px 16px 32px;
    gap: 10px;
    background-color: #4D5AE5;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.button a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}