body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 10px; /* Add margin for spacing */
    color: #434455;
    
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.web {
    color: #4D5AE5;
    text-align: left;
}

.studio {
    color: #2E2F42;
    text-align: left;
}

nav {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;

}

h1 {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;

}

.banner1 {
    width: 100%;
    height: 600px;
    background-color: #2E2F42;
    top: 72px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack the children vertically */
}

.content {
    text-align: center;
    margin-bottom: 10px; /* 10px gap between h1 and button */
}

.button {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button a {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* prevet from wrapping to a new line */
}

/* #solutions {} next assignment in div */

.section-content-1 {
    background-color: #FFFFFF;
    /* padding: 20px; */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
}

.centered-heading h2 {
    text-align: center; /* Center-align the text */
    font-size: 40px; /* Set the font size to 60px */
    font-weight: 700;
    line-height: 50px;
    margin-top: 20px; /* Add some top margin for spacing */
    color: #2E2F42;
    letter-spacing: 0.02em;
}

/* li {
  margin: 20px 0; 
} */

h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

footer {
    width: 100%;
    height: 312px;
    background-color: #2E2F42;
    color: #FFFFFF;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the width */
    text-align: left; /* Center-align content */
    /* text-align: center; Center-align content */
    /* position: relative; */
    /* top: 2280px; Adjust top position as needed */
}

h4 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

#web-footer {
    color: #4D5AE5;
}

#studio-footer {
    color: #F4F4FD;
}
